.loginForm{
    margin-top: 15%;
    margin-left: 30%;
}

.test{
    background-color: red;
}
.signupMessage{
    background-color: gainsboro;
    padding: 10px;
    text-align: center;
}

body{
    background-color: rgb(153, 1, 1);
}

.but{
    width: 100px;
    height: 39px;
}