<div>
    <button class="but" routerLink="/user">Je suis un user normal</button>
</div>

<div class="loginForm" fxFlex="50%">
    <div class="signupMessage">
      <h1>Login </h1>
    </div>
    <div fxLayout="column" form novalidate [formGroup]="LoginForm" id="loginform">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username" type="text" required>
          <mat-error *ngIf="LoginForm.controls.username.errors?.required">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Password" type="password" required>
          <mat-error *ngIf="LoginForm.controls.password.errors?.required && LoginForm.controls.password.touched">Password is required</mat-error>
        </mat-form-field>
        <button [disabled]="this.LoginForm.invalid " mat-raised-button color="primary" (click)="onSubmit()">Login</button>
  </div>
  </div>